<ion-card>
  <ion-card-header>
    <ion-card-title>MANTENIMIENTOS</ion-card-title>
    <ion-card-subtitle>Número de mantenimientos en la ciudad</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-card-title> {{countMaintenance}} Mantenimientos</ion-card-title>
    <div class="grafica">
      <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
        [legend]="barChartLegend" [type]="'bar'">
      </canvas>
    </div>

  </ion-card-content>
</ion-card>

