<div class="relative overflow-x-auto shadow-md sm:rounded-lg p-8">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Gestión de usuarios</ion-card-title>
            <ion-card-subtitle>Listar, editar, añadir y desactivar usuarios</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>

            <button class="addTree" routerLink="/addusers">Add User</button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">
                  ID
                </th>
                <th scope="col" class="px-6 py-3">
                  Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                  Correo
                </th>
                <th scope="col" class="px-6 py-3">
                  Estado
                </th>
                <th scope="col" class="px-6 py-3">
                  accion
                </th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let user of users(); let i = index" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{i + 1}}
                </th>
                <td class="px-6 py-4">
                  {{user.name}}
                </td>
                <td class="px-6 py-4">
                  {{user.email}}
                </td>
                <td class="px-6 py-4">
                  {{user.status}}
                </td>
                <td class="px-6 py-4">
                  edit User
                </td>
              </tr>

            </tbody>
          </table>
        </div>

      </ion-col>
    </ion-row>

  </ion-grid>


</div>
