<ion-grid>
  <ion-row>
    <ion-col size="3">
      <ion-card>
        <img alt="Silhouette of mountains" src="./../../assets/icon/logo.png" class="w-80"/>
        <ion-card-header>
          <ion-card-title>Foresta CTG</ion-card-title>
          <ion-card-subtitle>Gestor de inventario del recurso arboreo de la ciudad de
            Cartagena</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-text>
            <h3>Funciones principales</h3>
          </ion-text>
          <ul>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon> Gestion de
              inventario
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon> Mantenimiento
            </li>
            <li>
              <ion-icon name="checkmark-outline"></ion-icon> Generar
              estadisticas
            </li>
          </ul>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
