<ion-card>
  <ion-card-header>
    <ion-card-title>MANTENIMIENTOS DOCUMENTADOS</ion-card-title>
    <ion-card-subtitle>Número de mantenimientos programados en la ciudad</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-card-title>{{Scheduled.length}} mantenimientos documentados</ion-card-title>


    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Nombre del árbol
            </th>
            <th scope="col" class="px-6 py-3">
              Barrio
            </th>
            <th scope="col" class="px-6 py-3">
              Localidad
            </th>
            <th scope="col" class="px-6 py-3">
              Desc. del mantenimiento
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tree of arbolesDocumentados" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{tree.commonName}}
            </th>
            <td class="px-6 py-4">
              {{tree.neighborhood}}
            </td>
            <td class="px-6 py-4">
              {{tree.locality}}
            </td>
            <td class="px-6 py-4">
              {{tree.description}}
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </ion-card-content>
</ion-card>
