<ion-button [id]="idModal" expand="block">Ver descripción</ion-button>

<ion-modal [trigger]="idModal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="title">Descripción del mantenimineto</ion-card-title>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Info del arbol</ion-card-title>
            <ion-card-subtitle>{{tree.commonName}}</ion-card-subtitle>
            <ion-card-subtitle>{{tree.scientificName}}</ion-card-subtitle>
            <ion-card-subtitle>{{tree.neighborhood}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>

      </ion-card-header>

      <ion-card-content>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Descripción</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{scheduled?.description}}</p>

            <form  [formGroup]="scheduledMaintenanceEdit">
              <textarea id="description" rows="4" formControlName="descripción"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Describir los hecho en el mantenimiento...">{{scheduled?.description}}</textarea>

                <button><ion-button expand="block">Guardar</ion-button></button>
            </form>
          </ion-card-content>
        </ion-card>

      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-modal>
