<ion-row>
  <ion-col size="12">
    <ion-card class="shadow-md rounded-lg p-4" style="background-color: #00bf63;">
      <ion-card-header>
        <ion-card-title class="text-black font-bold" style="font-size: 25px; text-align: center;">Estadísticas Generales</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="text-black" style="font-size: 15px; text-align: center;">Aquí puedes ver las estadísticas generales de los árboles en la ciudad.</p>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>

<ion-row>
  <!-- Columna 1: Agrupa Total y Localidad -->
  <ion-col size="12" size-md="6">
    <!-- Tarjeta 1: Total de árboles -->
    <ion-card class="mb-4">
      <ion-card-header>
        <ion-card-title class="text-blue-800">Total de Árboles</ion-card-title>
      </ion-card-header>
      <ion-card-content class="text-4xl font-bold text-blue-600">
        {{ getTotalTrees() }}
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta 3: Total por localidad -->
    <ion-card>
      <ion-card-header>
        <ion-card-title class="text-purple-800">Árboles por Localidad</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of getTreesByLocality()">
            <ion-label>{{ item.locality }}</ion-label>
            <ion-badge slot="end" color="tertiary">{{ item.count }}</ion-badge>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-col>

  <!-- Columna 2: Solo Barrios -->
  <ion-col size="12" size-md="6">
    <ion-card > <!-- h-full para que ocupe toda la altura -->
      <ion-card-header>
        <ion-card-title class="text-green-800">Árboles por Barrio</ion-card-title>
      </ion-card-header>
      <ion-card-content class="max-h-[298px] overflow-y-auto">
        <ion-list>
          <ion-item *ngFor="let item of getTreesByNeighborhood()">
            <ion-label>{{ item.neighborhood }}</ion-label>
            <ion-badge slot="end" color="success">{{ item.count }}</ion-badge>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
