<ion-grid>

  <ion-row>
    <ion-col>
      <button class="addTree" routerLink="/addTree">Add Tree</button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-row>
  <ion-col>
    <ion-card class="shadow-md rounded-lg p-4 card-table">
      <ion-card-header>
        <ion-card-title class=" font-bold" style="font-size: 25px; text-align: center;">Lista de
          Arboles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <table id="myTable" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Common name</th>
              <th scope="col" class="px-6 py-3">Location</th>
              <th scope="col" class="px-6 py-3">Locality</th>
              <th scope="col" class="px-6 py-3">Neighborhood</th>
              <th scope="col" class="px-6 py-3">Physical Description</th>
              <th scope="col" class="px-6 py-3">Status</th>
              <th scope="col" class="px-6 py-3">Edit</th>
              <th scope="col" class="px-6 py-3">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tree of trees()"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

              <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                <img class="w-10 h-10 rounded-full" [src]="tree.photo" alt="Jese image">
                <div class="ps-3">
                  <div class="text-base font-semibold">{{tree.commonName}}</div>
                  <div class="font-normal text-gray-500">scientificName: {{tree.scientificName}}</div>
                </div>
              </th>
              <td class="px-6 py-4">{{tree.location}}</td>
              <td class="px-6 py-4">{{tree.locality}}</td>
              <td class="px-6 py-4">{{tree.neighborhood}}</td>
              <td class="px-6 py-4">{{tree.physicalDescription}}</td>
              <td *ngIf="tree.state === false" class="px-6 py-4">Disable</td>
              <td *ngIf="tree.state === true" class="px-6 py-4">Enable</td>
              <td class="px-6 py-4">
                <ion-button [routerLink]="['/editTree', tree._id]" color="success" size="small" fill="outline">
                  <ion-icon name="create-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </td>

              <td *ngIf="tree.state === true" class="px-6 py-4">
                <ion-button color="danger" size="small" (click)="disableTree(tree)">
                  <ion-icon name="power-outline"></ion-icon>
                </ion-button>
              </td>
              <td *ngIf="tree.state === false" class="px-6 py-4">
                <ion-button color="success" size="small" (click)="enableTree(tree)">
                  <ion-icon name="power-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
        </table>
      </ion-card-content>
    </ion-card>

  </ion-col>
</ion-row>

<app-general></app-general>
